@CHARSET "UTF-8";

/* pocket ward style */

/*common style*/
@font-face {
    font-family: 'NotoSansCJKkr';
    font-style: normal;
    font-weight: 100;
    src: local('NotoSansCJKkr-Thin'), 
    url(../font/font/NotoSansCJKkr-Thin.otf) format('opentype');
}
@font-face {
    font-family: 'NotoSansCJKkr';
    font-style: normal;
    font-weight: 300;
    src: local('NotoSansCJKkr-Light'),
  	url(../font/font/NotoSansCJKkr-Light.otf) format('opentype');
}
@font-face {
  font-family: 'NotoSansCJKkr';
    font-style: normal;
    font-weight: 350;
    src: local('NotoSansCJKkr-DemiLight'),
   url(../font/font/NotoSansCJKkr-DemiLight.otf) format('opentype');
}
@font-face {
    font-family: 'NotoSansCJKkr';
    font-style: normal;
    font-weight: 400;
    src: local('NotoSansCJKkr-Regular'),
  	url(../font/font/NotoSansCJKkr-Regular.otf) format('opentype');
}
@font-face {
  font-family: 'NotoSansCJKkr';
    font-style: normal;
    font-weight: 500;
    src: local('NotoSansCJKkr-Medium'),
  	 url(../font/font/NotoSansCJKkr-Medium.otf) format('opentype');
}
@font-face {
    font-family: 'NotoSansCJKkr';
    font-style: normal;
    font-weight: 700;
    src: local('NotoSansCJKkr-Bold'),
  	url(../font/font/NotoSansCJKkr-Bold.otf) format('opentype');
}
@font-face {
  font-family: 'NotoSansCJKkr';
    font-style: normal;
    font-weight: 900;
    src: local('NotoSansCJKkr-Black'),
   url(../font/font/NotoSansCJKkr-Black.otf) format('opentype');
}

/*korean*/
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, 
kbd, q, samp, small, strong, sub, sup, var, b, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, 
tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, 
details, summary, select, input, textarea {
	  font-family: 'Noto Sans Korean', Arial, Helvetica, sans-serif;
}
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, 
samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, 
article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary, select,input,textarea {
	font-family: 'Noto Sans Korean', Arial, Helvetica, sans-serif;
	font-size:18px;
	font-weight: normal;
	vertical-align: baseline;
	background: transparent;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body{margin:0; padding:0; overflow:hidden; background:url('../img/bg01.png');}
.pull-left{float:left;}
.pull-right{float:right;}
.text-center{text-align:center;}
.text-right{text-align:right;}
.text-left{text-align:left;}
.img-center{margin:0 auto; }
ul{margin:0; padding:0}
li{margin:0; padding:0; list-style:none;}
.circle{border-radius:50%;}
.border-round{border-radius:5px;}
.clearfix{clear:both;}
.relative{position:relative;}
.absolute{position:absolute;}
.inline-block{display: inline-block;}
.mgl15{margin-left: 15px}
.mgr15{margin-right:15px}
.mgt15{margin-top: 15px;}
.mgb15{margin-bottom: 15px;}
img{width:50%; max-width:402px;}

/*checkbox*/

/* 커스텀 이미지 체크박스 스타일 */
.checkbox{line-height:25px; margin-top:30px; float:left;}
.checkbox input[type='checkbox'] + label {
	display: inline-block;
	padding-left:33px;
        
	height: 25px;
        text-shadow: none;
	background-image: url('../img/button/checkbox.png');
	background-size:25px 50px;
	background-position:0 0;
	background-repeat: no-repeat;
	cursor: pointer;
	line-height:23px;
        color:#808080;
        font-size:15px;
        margin-top:0px;
        font-weight:normal; 	
}


.checkbox input[type='checkbox']:checked + label {
        color:#808080;
	background-position:0 -25px;
        -ms-background-position-y: "-25px"; 
}
.checkbox input[type='checkbox'] {
	display: none;
}
.checkbox label { font-weight:bold;  padding-left:35px;}

/*selectbox*/

/*radiobox*/



/*login page */
.container{ display:inline-block; height:100%; width:100%; }
.login{
	 -webkit-transition: opacity 0.1s, -webkit-transform 0.3s cubic-bezier(0.17, -0.65, 0.665, 1.25);
  transition: opacity 0.1s, -webkit-transform 0.3s cubic-bezier(0.17, -0.65, 0.665, 1.25);
  transition: opacity 0.1s, transform 0.3s cubic-bezier(0.17, -0.65, 0.665, 1.25);
  transition: opacity 0.1s, transform 0.3s cubic-bezier(0.17, -0.65, 0.665, 1.25), -webkit-transform 0.3s cubic-bezier(0.17, -0.65, 0.665, 1.25);
  -webkit-transform: scale(1);
          transform: scale(1);
	  position: relative;
	height:100%; width:100%; padding-top:120px; overflow:hidden; color:#808080; display:inline-block; /*display:none;*/}
.login.inactive {
  opacity: 0;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.bg_login{background:url('../img/login.png'); background-size:100%; width:595px; height:583px; padding-top:50px; left:10px; top:-35px; display:inline-block;}
.login_form{margin-top:100px; width:615px; height:565px; display:inline-block; background:#2e374c; border-radius:20px;  padding:20px; }
.login_form form{margin:100px 50px 25px 50px;}
.login_form input[type="text"],.login_form input[type="password"]{ border:none; min-width:400px; display:block; margin-bottom:13px; margin-left:80px; padding:15px; }
.login a.bg-grad{width:calc(100% - 40px); display:inline-block; font-size:22px; background:url('../img/bg-btn.png'); background-size: 100% ; color:#fff; font-weight:700; border:1px solid #fff; margin-top:30px; padding:20px; border-radius:5px;}
.login a{color:#808080; text-decoration:none; font-size:15px;}

.main{ overflow:hidden; color:#808080; display:inline-block; 
 position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  display: none;
  -webkit-transition: opacity 0.1s, -webkit-transform 0.3s cubic-bezier(0.68, -0.45, 0.465, 1.25);
  transition: opacity 0.1s, -webkit-transform 0.3s cubic-bezier(0.68, -0.45, 0.465, 1.25);
  transition: opacity 0.1s, transform 0.3s cubic-bezier(0.68, -0.45, 0.465, 1.25);
  transition: opacity 0.1s, transform 0.3s cubic-bezier(0.68, -0.45, 0.465, 1.25), -webkit-transform 0.3s cubic-bezier(0.68, -0.45, 0.465, 1.25);
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.main.active {
display:inline-block;
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}
/*side category*/
.category-tab{width:19%; color:#fff; height:100%}
.category-tab .name{font-weight:900; font-size:20px; margin: 0 0 10px 0;}
.category-tab .email{width:130px; background:#3d435b; border-radius:5px; color:#8ea6b8; font-size:12px; padding:5px; }
.profile-img{width:108px; height:108px; border: 10px solid rgba(34,36,54,0.7);}
.logo{width:128px; margin-top:45px;}
.category-list {margin-top:30px;}
.category-list li{position:relative;  width:calc(100% - 20px); padding:15px 30px 15px 20px; margin-left:20px;}
.category-list li:after{content:""; background:url("../img/li_after.png"); background-size:111px 6px; height:6px; position:absolute; top:105px; width:111px; right:15px;  }
.category-list li p{margin:0; font-size:17px; }
.category-list li.active{background:#c6d2d8; color:#00b0b4; border-radius:20px 0px 0px 20px}
.category-list li.active p{font-weight:900;}
.category-list li.active:after{content:""; background:url("../img/active.png"); background-size:30px 62px; height:62px; position:absolute; top:-15px; width:30px; right:5px; }
.category-list li i{font-size:50px;}
.contents-tab{width:81%; background:#fff; height:100%}
.contents-tab .contents-head{height:45px; color:#999ca6;width:100%;  line-height:40px; }
.contents-tab .contents-head i{font-size:20px; margin:0px 7px; display:inline-block;  vertical-align:middle; }
.contents-tab .contents-head i:last-child{margin-right:15px;}
.noti{top:-5px; right:6px; background:#ff7610; line-height:1.2; color:#fff; border:1px solid #fff; font-size:8px; text-align:center;  width:15px; height:15px; }

.contents-tab section{width:100%; padding:60px 35px; height: calc(100% - 45px); background:#c6d2d8;}
.timegif img{width:100%; max-width:100%; margin-bottom:-5px;}
div.border-top{border-radius: 10px 10px 0 0; 
-webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.3);
	box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.3);
	box-sizing:border-box;
	background:#eff0f2;
	}
div.timegif{background-size:cover; border:none; background-repeat-y:none; }






